/* COLORS
SOURCE - https://coolors.co/palette/588b8b-ffffff-ffd5c2-f28f3b-c8553d

Steel Teal - #588B8B
White - #FFFFFF
Unbleached Silk - #FFD5C2
Cadmium Orange - #F28F3B
Cedar Chest - #C8553D
*/

/* font-family: 'Syncopate', sans-serif; */

body {
    background-image: url("/groupProject_week6/Images/lamas.jpeg");
    background-size: 2000px;
    /* background: black; */
}

/* =============== HEADER INFO =============== */

.header-container {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #588B8B;
    border: 3px solid black;
}

.flexbox-header {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    margin: top;
    width: 2000px;
}

.header-logo {
    justify-content: center;
    padding: 60px;
}

.title {
    justify-content: center;
    color: white;
    padding: 20px;
    font-size: 50px;
    font-family: 'Syncopate', sans-serif;;
}

.nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100px;
    font-size: 20px;
    /* border: 3px solid purple; */
    justify-content: center;
}

/* .titleName{
    position:absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding-top:50px;
} */

/* .navbar-brand {
    font-size: 40px;
    justify-content: center;
    width: 500px;
} */

/* =============== SEARCHBAR CONTENT ============== */

.search-container {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: #C8553D;
    outline: black;
}

/* =============== INFO CONTAINERS =============== */

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.flexbox-item {
    width: 300px;
    margin: 25px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
}

/* left/top box */
.flexbox-weather { 
    min-height: 400px;
    min-width: 400px;
}

/* right/bottom box */
.flexbox-events {
    min-height: 550px;
    min-width: 400px;
}
