/* COLORS
SOURCE - https://coolors.co/palette/588b8b-ffffff-ffd5c2-f28f3b-c8553d

Steel Teal - #588B8B
White - #FFFFFF
Unbleached Silk - #FFD5C2
Cadmium Orange - #F28F3B
Cedar Chest - #C8553D
*/

/* font-family: 'Syncopate', sans-serif; */

body {
    background-image: url("../Images/lamas.jpeg");background-repeat:no-repeat;
    background-size: 2000px;
    background-attachment: fixed;
    background-color: black;
    justify-content: center;
}

/* =============== HEADER INFO =============== */

.header-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1a3535;
    border: 3px solid black;
}

.flexbox-header {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    margin: top;
    width: 2000px;
}

.header-logo {
    justify-content: center;
    padding: 60px;
    color: white;
}

.title {
    justify-content: center;
    color: white;
    padding: 20px;
    font-size: 50px;
    font-family: 'Syncopate', sans-serif;;
}

.nav-links {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100px;
    font-size: 15px;
    justify-content: center;
}

.nav-links li{
    display:inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}

/* .titleName{
    position:absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding-top:50px;
} */

/* .navbar-brand {
    font-size: 40px;
    justify-content: center;
    width: 500px;
} */

/* =============== SEARCHBAR CONTENT ============== */

.search-container {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: #C8553D;
    outline: black;
}

/* =============== INFO CONTAINERS =============== */

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.flexbox-item {
    opacity: 0.75;
    width: 300px;
    margin: 25px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
}

/* left/top box */
.flexbox-weather { 
    min-height: 400px;
    min-width: 400px;
}

/* right/bottom box */
.flexbox-events {
    min-height: 550px;
    min-width: 400px;
}
