/* COLORS
SOURCE - https://coolors.co/palette/588b8b-ffffff-ffd5c2-f28f3b-c8553d

Steel Teal - #588B8B
White - #FFFFFF
Unbleached Silk - #FFD5C2
Cadmium Orange - #F28F3B
Cedar Chest - #C8553D
*/

body {
    background-image: url("/groupProject_week6/Images/img_1605.jpg");
    background-size: 2000px;
    /* background: black; */
}

.header {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #588B8B;
}

.navbar-brand {
    font-size: 40px;
    justify-content: center;
    width: 500px;
}

.search-container {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: #C8553D;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.flexbox-item {
    width: 300px;
    margin: 25px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
}

.flexbox-weather {
    min-height: 500px;
    min-width: 300px;
}

.flexbox-events {
    min-height: 500px;
    min-width: 300px;
}
